# 2457

In [1]:
import pandas_datareader as pdr
import datetime
start = datetime.datetime(2015,3,1) #from datatime
end =datetime.datetime(2022,4,30)
df_2457 = pdr.DataReader('2457.TW', 'yahoo', start=start,end=end)
df_2457

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-03-02  16.589998  16.344585  16.491833  16.344585   1106292.0  15.580491
2015-03-03  17.031744  16.344585  16.393667  17.031744   2063857.0  16.235525
2015-03-04  17.571655  16.835413  16.982660  17.326241   3421766.0  16.516254
2015-03-05  17.522573  17.178993  17.473490  17.178993   1769457.0  16.375891
2015-03-06  17.375324  17.178993  17.178993  17.375324    751790.0  16.563044
...               ...        ...        ...        ...         ...        ...
2022-04-25  42.200001  40.599998  42.099998  40.950001   8863000.0  40.950001
2022-04-26  41.700001  40.700001  41.400002  40.700001   4182232.0  40.700001
2022-04-27  39.349998  37.000000  39.000000  38.650002  12176416.0  38.650002
2022-04-28  39.400002  38.049999  39.099998  38.700001   5103068.0  38.700001
2022-04-29  39.849998  38.799999  39.549999  39.000000   3540001.0  39.000000

[1749 rows x 6 columns]

In [31]:
counter=0
maxValue=0
maxList=[]
timeList=[]
for i in range(len(df_2457)):
    if(i%30==0 and i!=0):
        maxList.append(maxValue)
        timeList.append(timeVaue)
        maxValue=0
    if(t['Close'][i]>maxValue):
        maxValue=t['Close'][i]
        timeVaue=t['Date'][i]

In [39]:
dict(zip(timeList, maxList))

{Timestamp('2015-03-06 00:00:00'): 17.375324249267578,
 Timestamp('2015-04-15 00:00:00'): 16.24641990661621,
 Timestamp('2015-05-29 00:00:00'): 12.957868576049805,
 Timestamp('2015-07-20 00:00:00'): 11.28905200958252,
 Timestamp('2015-09-11 00:00:00'): 8.481513977050781,
 Timestamp('2015-10-20 00:00:00'): 10.209230422973633,
 Timestamp('2015-12-17 00:00:00'): 14.086773872375488,
 Timestamp('2015-12-31 00:00:00'): 13.203283309936523,
 Timestamp('2016-02-23 00:00:00'): 13.203283309936523,
 Timestamp('2016-04-13 00:00:00'): 11.77988052368164,
 Timestamp('2016-05-26 00:00:00'): 9.816567420959473,
 Timestamp('2016-07-26 00:00:00'): 11.141803741455078,
 Timestamp('2016-09-09 00:00:00'): 10.503726959228516,
 Timestamp('2016-09-28 00:00:00'): 10.160146713256836,
 Timestamp('2016-12-21 00:00:00'): 11.534465789794922,
 Timestamp('2016-12-30 00:00:00'): 12.859703063964844,
 Timestamp('2017-03-27 00:00:00'): 12.75,
 Timestamp('2017-04-26 00:00:00'): 15.550000190734863,
 Timestamp('2017-06-05 00:00:00'): 14.100000381469727,
 Timestamp('2017-07-10 00:00:00'): 12.649999618530273,
 Timestamp('2017-09-14 00:00:00'): 14.100000381469727,
 Timestamp('2017-10-17 00:00:00'): 13.5,
 Timestamp('2017-12-14 00:00:00'): 13.800000190734863,
 Timestamp('2018-01-04 00:00:00'): 14.600000381469727,
 Timestamp('2018-01-31 00:00:00'): 13.300000190734863,
 Timestamp('2018-04-11 00:00:00'): 12.199999809265137,
 Timestamp('2018-06-07 00:00:00'): 11.75,
 Timestamp('2018-06-25 00:00:00'): 11.5,
 Timestamp('2018-08-23 00:00:00'): 11.699999809265137,
 Timestamp('2018-09-14 00:00:00'): 10.600000381469727,
 Timestamp('2018-12-05 00:00:00'): 11.050000190734863,
 Timestamp('2018-12-17 00:00:00'): 11.100000381469727,
 Timestamp('2019-03-08 00:00:00'): 12.0,
 Timestamp('2019-04-16 00:00:00'): 11.050000190734863,
 Timestamp('2019-05-03 00:00:00'): 10.25,
 Timestamp('2019-06-24 00:00:00'): 9.470000267028809,
 Timestamp('2019-07-29 00:00:00'): 9.0600004196167,
 Timestamp('2019-09-19 00:00:00'): 9.220000267028809,
 Timestamp('2019-12-05 00:00:00'): 9.979999542236328,
 Timestamp('2019-12-30 00:00:00'): 10.300000190734863,
 Timestamp('2020-02-05 00:00:00'): 8.829999923706055,
 Timestamp('2020-04-16 00:00:00'): 7.119999885559082,
 Timestamp('2020-06-08 00:00:00'): 8.539999961853027,
 Timestamp('2020-07-13 00:00:00'): 10.0,
 Timestamp('2020-09-01 00:00:00'): 10.350000381469727,
 Timestamp('2020-10-15 00:00:00'): 12.399999618530273,
 Timestamp('2020-12-02 00:00:00'): 14.600000381469727,
 Timestamp('2021-01-11 00:00:00'): 18.25,
 Timestamp('2021-03-02 00:00:00'): 19.450000762939453,
 Timestamp('2021-04-08 00:00:00'): 41.95000076293945,
 Timestamp('2021-04-28 00:00:00'): 45.099998474121094,
 Timestamp('2021-07-12 00:00:00'): 43.150001525878906,
 Timestamp('2021-07-26 00:00:00'): 41.599998474121094,
 Timestamp('2021-09-01 00:00:00'): 35.79999923706055,
 Timestamp('2021-11-15 00:00:00'): 38.400001525878906,
 Timestamp('2022-01-04 00:00:00'): 52.099998474121094,
 Timestamp('2022-02-16 00:00:00'): 48.150001525878906,
 Timestamp('2022-03-30 00:00:00'): 48.25}

In [30]:
t=df_2457.reset_index() 
t['Date'][0]

Timestamp('2015-03-02 00:00:00')

# 5258

In [40]:
start = datetime.datetime(2013,3,28) #from datatime
end =datetime.datetime(2022,7,19)
df_5258 = pdr.DataReader('5258.TW', 'yahoo', start=start,end=end)
df_5258

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-03-28  14.407788  14.287053  14.407788  14.407788     19878.0  12.392808
2013-03-29  14.488279  14.327298  14.448034  14.448034     37271.0  12.427426
2013-04-01  14.649260  14.488279  14.568769  14.568769    122064.0  12.531277
2013-04-02  14.971221  14.649260  14.729750  14.729750    148216.0  12.669744
2013-04-03  14.729750  14.729750  14.729750  14.729750         0.0  12.669744
...               ...        ...        ...        ...         ...        ...
2022-07-13  62.099998  58.000000  58.500000  62.099998  16581590.0  62.099998
2022-07-14  64.400002  59.200001  61.400002  64.000000  52304233.0  64.000000
2022-07-15  65.400002  60.599998  63.200001  61.700001  22756150.0  61.700001
2022-07-18  66.800003  61.700001  62.000000  64.599998  35055363.0  64.599998
2022-07-19  66.300003  63.200001  64.599998  66.099998  25658328.0  66.099998

[2276 rows x 6 columns]

In [42]:
counter=0
maxValue=0
maxList=[]
timeList=[]
t=df_5258.reset_index() 
for i in range(len(df_5258)):
    if(i%30==0 and i!=0):
        maxList.append(maxValue)
        timeList.append(timeVaue)
        maxValue=0
    if(t['Close'][i]>maxValue):
        maxValue=t['Close'][i]
        timeVaue=t['Date'][i]
dict(zip(timeList, maxList))

{Timestamp('2013-04-02 00:00:00'): 14.72974967956543,
 Timestamp('2013-05-17 00:00:00'): 13.522393226623535,
 Timestamp('2013-08-05 00:00:00'): 13.522393226623535,
 Timestamp('2013-08-13 00:00:00'): 14.407788276672363,
 Timestamp('2013-10-15 00:00:00'): 15.128177642822266,
 Timestamp('2013-12-12 00:00:00'): 20.368104934692383,
 Timestamp('2013-12-27 00:00:00'): 23.326129913330078,
 Timestamp('2014-03-03 00:00:00'): 26.368667602539062,
 Timestamp('2014-04-10 00:00:00'): 22.565494537353516,
 Timestamp('2014-06-11 00:00:00'): 22.396465301513672,
 Timestamp('2014-06-18 00:00:00'): 21.97389030456543,
 Timestamp('2014-08-12 00:00:00'): 20.537134170532227,
 Timestamp('2014-10-09 00:00:00'): 21.522579193115234,
 Timestamp('2014-10-24 00:00:00'): 19.759174346923828,
 Timestamp('2014-12-31 00:00:00'): 19.632572174072266,
 Timestamp('2015-01-26 00:00:00'): 18.99051284790039,
 Timestamp('2015-03-24 00:00:00'): 18.393667221069336,
 Timestamp('2015-05-13 00:00:00'): 16.720693588256836,
 Timestamp('2015-07-02 00:00:00'): 19.44266700744629,
 Timestamp('2015-07-22 00:00:00'): 18.900081634521484,
 Timestamp('2015-10-12 00:00:00'): 20.305377960205078,
 Timestamp('2015-11-26 00:00:00'): 25.186120986938477,
 Timestamp('2015-12-01 00:00:00'): 27.831409454345703,
 Timestamp('2016-03-02 00:00:00'): 31.296363830566406,
 Timestamp('2016-04-14 00:00:00'): 38.738563537597656,
 Timestamp('2016-05-09 00:00:00'): 48.90056610107422,
 Timestamp('2016-06-28 00:00:00'): 52.84987258911133,
 Timestamp('2016-08-09 00:00:00'): 66.50477600097656,
 Timestamp('2016-08-30 00:00:00'): 68.31409454345703,
 Timestamp('2016-10-28 00:00:00'): 57.99607467651367,
 Timestamp('2016-12-20 00:00:00'): 51.83460235595703,
 Timestamp('2017-02-02 00:00:00'): 48.90056610107422,
 Timestamp('2017-04-07 00:00:00'): 46.45553970336914,
 Timestamp('2017-05-16 00:00:00'): 42.64129638671875,
 Timestamp('2017-05-26 00:00:00'): 40.92977523803711,
 Timestamp('2017-07-13 00:00:00'): 38.1424446105957,
 Timestamp('2017-09-13 00:00:00'): 32.1276741027832,
 Timestamp('2017-10-13 00:00:00'): 29.046937942504883,
 Timestamp('2017-11-16 00:00:00'): 27.873323440551758,
 Timestamp('2018-01-16 00:00:00'): 26.601909637451172,
 Timestamp('2018-02-12 00:00:00'): 23.86347770690918,
 Timestamp('2018-05-09 00:00:00'): 21.07614517211914,
 Timestamp('2018-06-07 00:00:00'): 20.44043731689453,
 Timestamp('2018-07-04 00:00:00'): 19.266822814941406,
 Timestamp('2018-08-30 00:00:00'): 22.689863204956055,
 Timestamp('2018-09-28 00:00:00'): 18.92452049255371,
 Timestamp('2018-11-14 00:00:00'): 16.088287353515625,
 Timestamp('2019-01-29 00:00:00'): 14.449999809265137,
 Timestamp('2019-02-20 00:00:00'): 15.199999809265137,
 Timestamp('2019-04-24 00:00:00'): 23.799999237060547,
 Timestamp('2019-06-11 00:00:00'): 22.0,
 Timestamp('2019-07-26 00:00:00'): 26.549999237060547,
 Timestamp('2019-09-05 00:00:00'): 29.700000762939453,
 Timestamp('2019-10-15 00:00:00'): 31.0,
 Timestamp('2019-12-11 00:00:00'): 31.350000381469727,
 Timestamp('2020-01-17 00:00:00'): 30.600000381469727,
 Timestamp('2020-02-14 00:00:00'): 27.350000381469727,
 Timestamp('2020-05-08 00:00:00'): 25.899999618530273,
 Timestamp('2020-05-12 00:00:00'): 25.100000381469727,
 Timestamp('2020-07-13 00:00:00'): 24.950000762939453,
 Timestamp('2020-08-06 00:00:00'): 23.100000381469727,
 Timestamp('2020-09-18 00:00:00'): 22.399999618530273,
 Timestamp('2020-11-26 00:00:00'): 24.299999237060547,
 Timestamp('2021-01-12 00:00:00'): 23.0,
 Timestamp('2021-02-24 00:00:00'): 22.5,
 Timestamp('2021-04-20 00:00:00'): 32.0,
 Timestamp('2021-05-10 00:00:00'): 22.950000762939453,
 Timestamp('2021-07-21 00:00:00'): 26.450000762939453,
 Timestamp('2021-09-09 00:00:00'): 31.299999237060547,
 Timestamp('2021-10-22 00:00:00'): 32.45000076293945,
 Timestamp('2021-11-04 00:00:00'): 38.150001525878906,
 Timestamp('2022-01-13 00:00:00'): 44.79999923706055,
 Timestamp('2022-03-04 00:00:00'): 41.20000076293945,
 Timestamp('2022-04-25 00:00:00'): 42.29999923706055,
 Timestamp('2022-06-13 00:00:00'): 67.0999984741211}

# 3062

In [44]:
start = datetime.datetime(2013,3,27) #from datatime
end =datetime.datetime(2022,7,19)
df_3062 = pdr.DataReader('3062.TW', 'yahoo', start=start,end=end)
counter=0
maxValue=0
maxList=[]
timeList=[]
t=df_3062.reset_index() 
for i in range(len(df_3062)):
    if(i%30==0 and i!=0):
        maxList.append(maxValue)
        timeList.append(timeVaue)
        maxValue=0
    if(t['Close'][i]>maxValue):
        maxValue=t['Close'][i]
        timeVaue=t['Date'][i]
dict(zip(timeList, maxList))

{Timestamp('2013-03-27 00:00:00'): 25.399999618530273,
 Timestamp('2013-06-07 00:00:00'): 25.649999618530273,
 Timestamp('2013-07-24 00:00:00'): 34.5,
 Timestamp('2013-08-14 00:00:00'): 36.349998474121094,
 Timestamp('2013-09-18 00:00:00'): 35.650001525878906,
 Timestamp('2013-11-11 00:00:00'): 33.0,
 Timestamp('2014-01-10 00:00:00'): 34.04999923706055,
 Timestamp('2014-03-06 00:00:00'): 35.650001525878906,
 Timestamp('2014-04-17 00:00:00'): 33.349998474121094,
 Timestamp('2014-06-11 00:00:00'): 32.349998474121094,
 Timestamp('2014-07-04 00:00:00'): 32.20000076293945,
 Timestamp('2014-07-30 00:00:00'): 30.200000762939453,
 Timestamp('2014-10-03 00:00:00'): 27.850000381469727,
 Timestamp('2014-11-04 00:00:00'): 24.600000381469727,
 Timestamp('2015-01-05 00:00:00'): 26.5,
 Timestamp('2015-01-20 00:00:00'): 24.799999237060547,
 Timestamp('2015-04-14 00:00:00'): 25.350000381469727,
 Timestamp('2015-04-27 00:00:00'): 24.700000762939453,
 Timestamp('2015-06-25 00:00:00'): 22.600000381469727,
 Timestamp('2015-07-21 00:00:00'): 18.899999618530273,
 Timestamp('2015-10-07 00:00:00'): 16.450000762939453,
 Timestamp('2015-10-26 00:00:00'): 18.0,
 Timestamp('2016-01-07 00:00:00'): 17.100000381469727,
 Timestamp('2016-01-27 00:00:00'): 22.299999237060547,
 Timestamp('2016-03-04 00:00:00'): 21.549999237060547,
 Timestamp('2016-04-18 00:00:00'): 18.950000762939453,
 Timestamp('2016-07-04 00:00:00'): 19.75,
 Timestamp('2016-07-22 00:00:00'): 21.350000381469727,
 Timestamp('2016-09-22 00:00:00'): 21.200000762939453,
 Timestamp('2016-10-21 00:00:00'): 20.25,
 Timestamp('2016-12-08 00:00:00'): 19.5,
 Timestamp('2017-02-21 00:00:00'): 20.25,
 Timestamp('2017-03-23 00:00:00'): 21.850000381469727,
 Timestamp('2017-05-03 00:00:00'): 20.100000381469727,
 Timestamp('2017-05-25 00:00:00'): 20.899999618530273,
 Timestamp('2017-07-20 00:00:00'): 20.5,
 Timestamp('2017-09-12 00:00:00'): 19.600000381469727,
 Timestamp('2017-10-16 00:00:00'): 18.899999618530273,
 Timestamp('2017-11-21 00:00:00'): 19.200000762939453,
 Timestamp('2018-01-04 00:00:00'): 21.049999237060547,
 Timestamp('2018-03-09 00:00:00'): 19.799999237060547,
 Timestamp('2018-05-17 00:00:00'): 19.049999237060547,
 Timestamp('2018-05-30 00:00:00'): 19.799999237060547,
 Timestamp('2018-07-13 00:00:00'): 18.149999618530273,
 Timestamp('2018-08-14 00:00:00'): 17.0,
 Timestamp('2018-10-01 00:00:00'): 15.550000190734863,
 Timestamp('2018-12-12 00:00:00'): 16.700000762939453,
 Timestamp('2018-12-19 00:00:00'): 16.049999237060547,
 Timestamp('2019-03-27 00:00:00'): 16.5,
 Timestamp('2019-04-16 00:00:00'): 18.200000762939453,
 Timestamp('2019-06-10 00:00:00'): 15.550000190734863,
 Timestamp('2019-07-25 00:00:00'): 16.200000762939453,
 Timestamp('2019-09-12 00:00:00'): 16.100000381469727,
 Timestamp('2019-09-25 00:00:00'): 19.25,
 Timestamp('2019-11-22 00:00:00'): 19.049999237060547,
 Timestamp('2019-12-25 00:00:00'): 18.450000762939453,
 Timestamp('2020-02-14 00:00:00'): 15.850000381469727,
 Timestamp('2020-05-04 00:00:00'): 15.0,
 Timestamp('2020-05-11 00:00:00'): 15.350000381469727,
 Timestamp('2020-07-01 00:00:00'): 16.899999618530273,
 Timestamp('2020-09-09 00:00:00'): 15.649999618530273,
 Timestamp('2020-09-16 00:00:00'): 15.25,
 Timestamp('2020-12-07 00:00:00'): 16.700000762939453,
 Timestamp('2021-01-14 00:00:00'): 20.549999237060547,
 Timestamp('2021-03-18 00:00:00'): 21.399999618530273,
 Timestamp('2021-03-22 00:00:00'): 22.299999237060547,
 Timestamp('2021-06-10 00:00:00'): 20.049999237060547,
 Timestamp('2021-07-13 00:00:00'): 20.899999618530273,
 Timestamp('2021-08-02 00:00:00'): 19.850000381469727,
 Timestamp('2021-10-25 00:00:00'): 22.950000762939453,
 Timestamp('2021-11-22 00:00:00'): 35.70000076293945,
 Timestamp('2021-12-27 00:00:00'): 32.95000076293945,
 Timestamp('2022-02-09 00:00:00'): 27.700000762939453,
 Timestamp('2022-03-25 00:00:00'): 28.950000762939453,
 Timestamp('2022-06-10 00:00:00'): 23.799999237060547}